upstream backend {
    server apache:80;
}

server {
    listen              443 ssl default_server;
    listen              [::]:443;
    server_name         ${CERT_DOMAIN};

    ssl_certificate     /etc/letsencrypt/live/mage/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/mage/privkey.pem;

    location / {
        proxy_pass http://backend;
        proxy_set_header Host $host;
    }
}

